<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/58047872-09aa-42a7-8e22-b502929230e2/v3/index.json" />
  </packageSources>
</configuration>